<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">

  <title>Hello, world!</title>

  {{#block 'css'}}
  {{/block}}
</head>

<body>
  <div class="container">

    <!-- A grey horizontal navbar that becomes vertical on small screens -->
<nav class="navbar navbar-expand-sm bg-light">

  <div class="container-fluid">
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link 3</a>
      </li>
    </ul>
    <div>
      {{#if user}}
        Hi, {{user.username}}
        <a href="/users/logout" class="btn btn-danger btn-sm">Logout</a>
      {{else}}
        Hi, guest
        <a href="/users/login" class="btn btn-success btn-sm">Login</a>
      {{/if}}
    </div>
  </div>

</nav>

    {{#if success_messages}}
    {{#each success_messages}}
    <div class="alert alert-success">
      {{this}}
    </div>
    {{/each}}
    {{/if}}

    {{#if error_messages}}
    {{#each error_messages}}
      <div class="alert alert-danger">
        {{this}}
      </div>
    {{/each}}
    {{/if}}

    {{#block "content"}}{{/block}}
  </div>

  {{#block "js"}}
  {{/block}}

</body>

</html>



